numpy==1.20.3
matplotlib==3.4.3
torch==1.9.1
torchvision
h5py
pyrender==0.1.45
trimesh[easy]
scipy==1.7.1
cyobj==0.2.3
tqdm==4.62.3
scikit_image==0.18.3
scikit_learn==1.0
ConfigArgParse
tensorboard
PyYaml
